version: "3.2"

name: "uesio_dev"

services:
  redis:
    image: "redis:alpine"
  db:
    image: "postgres:14"
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: pgtest
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 5s
      timeout: 10s
      retries: 4
      start_period: 10s
  app:
    image: "ghcr.io/ues-io/uesio:latest"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - "3000:3000"
    environment:
      UESIO_REDIS_HOST: redis
      UESIO_REDIS_PORT: 6379
      UESIO_DB_DATABASE: pgtest
      UESIO_DB_HOST: db
      UESIO_DB_USER: postgres
      UESIO_DB_PASSWORD: postgres
      UESIO_DB_PORT: 5432
      UESIO_PLATFORM_BUNDLESTORE_CREDENTIALS: uesio/core.aws
      UESIO_PLATFORM_BUNDLESTORE_TYPE: uesio.aws
      UESIO_PLATFORM_FILESOURCE_CREDENTIALS: uesio/core.aws
      UESIO_PLATFORM_FILESOURCE_TYPE: uesio.aws
      UESIO_SESSION_STORE: redis
      UESIO_USERFILES_BUCKET_NAME: "uesio-userfiles"
      UESIO_BUNDLES_BUCKET_NAME: "uesio-bundles"
      UESIO_PORT: 3000
      UESIO_PRIMARY_DOMAIN: "uesio-dev.com"
      UESIO_MOCK_AUTH: "true"
      UESIO_MOCK_AUTH_USERNAMES: "uesio"
    command: sh -c "./uesio migrate && ./uesio seed -i && ./uesio serve"
