# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.js]
indent_style = tab
indent_size = tab

[*.ts]
indent_style = tab
indent_size = tab

[*.tsx]
indent_style = tab
indent_size = tab

[*.md]
max_line_length = off
trim_trailing_whitespace = false
