# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
apps/.idea
/.idea
**/*.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.code-workspace

# IDE - VSCode
**/.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

*.in
*.out
*.env
.google-creds.json
pgdata
/bundles/
/static/
/temp/
/ssl/certificate.crt
/ssl/private.key
sessions/*
ui-debug.log
firestore-debug.log
firestore.indexes.json
firestore.rules
firebase.json
firebase-debug.log
.firebaserc
__debug_bin

# Uesio binaries
**/.uesio
/uesio

# Uesio Component Packs and Types
**/bundle/componentpacks/*/dist/
**/generated/

# Cypress
cypress/downloads
cypress/screenshots
cypress/videos
