services:
  redis:
    image: "redis:alpine"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 10s
      retries: 5
    ports:
      - "6379:6379"
    volumes:
      - $PWD/redis-data:/var/lib/redis
      - $PWD/redis.conf:/usr/local/etc/redis/redis.conf
  db:
    image: "postgres:14"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: mysecretpassword
      # Master user and database
      POSTGRES_USER: postgres
      POSTGRES_DATABASE: postgres
      # Create 2 databases, one for dev and one for running tests:
      # - dev: postgresio (owned by postgres user)
      # - test: pgtest (owned by pgtest user)
      POSTGRES_MULTIPLE_DATABASES: "postgresio,postgres:pgtest,pgtest"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d postgres -U postgres"]
      interval: 1s
      timeout: 10s
      retries: 5
    volumes:
      - ./apps/platform/scripts/create-multiple-databases.sh:/docker-entrypoint-initdb.d/create-multiple-databases.sh
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
