// There are differing opinions on whether or not go.work/go.work.sum should be checked in to version control.
// This repo is a monorepo containing containing multiple-go modules that are NOT intended to be consumed
// externally.  The general guidance on this, although unofficial, is that is is OK to commit these files
// to version control and many large projects do.  That said, we are not committing go.work.sum because its unclear 
// how it is maintained by go as it seems to change from time to time even though dependencies aren't changing.  
// Given the frequency that this file changes during development, it becomes cumbersome to maintain. Depending on 
// how things go (no pun intended) and/or if go provides better guidance/documentation around these two files this 
// can be revisited.  If issues arise, go.work can also be removed since again, these two files are only intended for 
// development and not used when building the modules.
// See https://github.com/golang/go/issues/51941 & https://github.com/golang/go/issues/53502

go 1.24.4

use (
	./apps/cli
	./apps/platform
)
