<!DOCTYPE html>
<html lang="en" class="noicons">
    <head>
        <title>{{ .Route.Title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
        {{- if .Route -}}
            {{- if .Route.Tags -}}
                {{- range .Route.Tags }}
                    {{- if and (eq .Location "head") (eq .Type "meta") -}}
        <meta name="{{.Name}}" content="{{.Content}}" data-uesio="true"/>
                    {{- end -}}
                    {{- if and (eq .Location "head") (eq .Type "link") -}}
        <link rel="{{.Name}}" href="{{.Content}}" data-uesio="true"/>
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        {{- end }}
        {{- if .Site -}}
            {{- if (eq .Site.EnableSEO false) -}}
        <meta name="robots" content="none"/>
            {{- end -}}
        {{- end }}
        <style>
            {{template "fonts" .}}
        </style>
        {{- range .VendorScriptUrls }}
        <script src="{{.}}"></script>
        {{- end -}}
        <script src="{{ .StaticAssetsHost }}{{ .StaticAssetsPath }}/static/ui/uesio.js" type="module" crossorigin="true"></script>
    </head>
<body>
    <div id="root" class="h-screen overflow-auto"></div>
    <script>
    // This is a kind of insane way of adding the jsx runtime into ues.io
    var f=window.React,k=Symbol.for("react.element"),l=Symbol.for("react.fragment"),m=Object.prototype.hasOwnProperty,n=f.__SECRET_INTERNALS_DO_NOT_USE_OR_YOU_WILL_BE_FIRED.ReactCurrentOwner,p={key:!0,ref:!0,__self:!0,__source:!0};
    function q(c,a,g){var b,d={},e=null,h=null;void 0!==g&&(e=""+g);void 0!==a.key&&(e=""+a.key);void 0!==a.ref&&(h=a.ref);for(b in a)m.call(a,b)&&!p.hasOwnProperty(b)&&(d[b]=a[b]);if(c&&c.defaultProps)for(b in a=c.defaultProps,a)void 0===d[b]&&(d[b]=a[b]);return{$$typeof:k,type:c,key:e,ref:h,props:d,_owner:n.current}};
    window.jsxRuntime={Fragment:l,jsx:q,jsxs:q}
    // End insane way of adding jsx runtime into ues.io
    </script>
    <script type="module">
        import * as uesio from "{{ .StaticAssetsHost }}{{ .StaticAssetsPath }}/static/ui/uesio.js"
        window.uesio = uesio
        window.uesioStaticAssetsHost = "{{ .StaticAssetsHost }}"
        window.uesioStaticAssetsPath = "{{ .StaticAssetsPath }}"
        window.monacoEditorVersion = "{{ .MonacoEditorVersion }}"
    </script>
    {{$workspace := .Route.Workspace -}}
    {{$site := .Site -}}
    {{- if .PreloadMetadata -}}
        {{- if .PreloadMetadata.ComponentPack -}}
            {{- range getComponentPackURLs .PreloadMetadata.ComponentPack $workspace $site -}}
                <script src="{{.}}" type="module"></script>
            {{- end -}}
            {{- range getComponentPackStyleURLs .PreloadMetadata.ComponentPack $workspace $site -}}
                <link rel="stylesheet" type="text/css" href="{{.}}"/>
            {{- end -}}
        {{- end -}}
    {{- end -}}
    <script type="module">
        uesio.loader(document.querySelector("#root"), {{.}});
    </script>
</body>
</html>
