<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My view - Uesio</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
        <script src="/static/vendor/react.{{.ReactBundle}}.js"></script>
        <script src="/static/vendor/react-dom.{{.ReactBundle}}.js"></script>
        <script src="/static/vendor/redux.js"></script>
        <script src="/static/vendor/react-redux.js"></script>
        <script src="/static/vendor/emotion-css.umd.min.js"></script>
        <link rel="preload" href="/fonts/MaterialIconsSharp-Regular.otf" as="font" crossorigin>
        <link rel="stylesheet" href="/fonts/fonts.css" />
        <script src="/static/ui/uesio.js"></script>
        <script src="/static/loader"></script>
        <script src="/static/lazymonaco/LazyMonaco.js"></script>
    </head>
<body>
    <div id="root"></div>
    <script>
        window.uesioLoader({{.}});
    </script>
</body>
</html>
