<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My view - Uesio</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
        <script src="/static/vendor/react.production.min.js"></script>
        <script src="/static/vendor/react-dom.production.min.js"></script>
        <script src="/static/vendor/redux.js"></script>
        <script src="/static/vendor/react-redux.js"></script>
        <script src="/static/vendor/material-ui.development.js"></script>
        <script src="/static/yaml/yaml.js"></script>
        <!-- Fonts to support Material Design -->
        <link rel="stylesheet" href="/fonts/fonts.css" />
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" /> -->
        <!-- Icons to support Material Design -->
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" /> -->
        <script src="/static/ui/uesio.js"></script>
        <script src="/static/loader"></script>
        <script src="/static/lazymonaco/LazyMonaco.js"></script>
    </head>
<body>
    <div id="root"></div>
    <script>
        window.UesioSSRLoadervar({{.}});
    </script>
</body>
</html>
