node_modules/
bundle/componentpacks/*/*.bundle.js
bundle/componentpacks/*/*.entry.ts
bundle/componentpacks/*/*.js.gz
bundle/componentpacks/*/*.LICENSE.txt
bundle/componentpacks/*/dist
.DS_Store
.clio
.uesio
