name: Non-master branch build
on:
  push:
    branches-ignore:
      - "master"
    tags-ignore:
      - "*"

# Ensure that only the latest push to a given branch is run,
# and any previous builds on the branch are cancelled automatically
# (to save money on Github Actions execution time!)
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_and_test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    env:
      FULL_SHA: ${{ github.sha }}
    steps:
      # Checkout master (so we can use nx:affected)
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: master
      # Checkout the current branch
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v4
        with:
          main-branch-name: master
      - name: Ensure tracking against master
        run: git branch --track master origin/master
        if: ${{ github.event_name == 'pull_request' }}
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22.13.0
          cache: "npm"
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.work
          cache-dependency-path: |
            apps/*/go.sum
            go.work.sum
      - name: Install NPM dependencies
        run: npm ci
      - name: Check formatting
        run: npx nx format:check --verbose
      - name: Lint, test, build
        shell: bash
        env:
          UESIO_DEV: "true"
        run: npx nx affected -t lint test build --configuration=ci --parallel=5
