name: Master/Release Branch Build
on:
  push:
    branches:
      - master
      - component-slot-metadata
    secrets:
      GH_PAT:
        required: true
      AWS_ACCOUNT_ID_DEV:
        required: true

jobs:
  build:
    env:
      FULL_SHA: 464ae1f8cd61c1951215f9ad56eb95379dabaca8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.15.0
          cache: "npm"
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_DEV }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_DEV }}
          aws-region: ${{ secrets.AWS_REGION_DEV }}
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1.6.0
      - name: Use Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19
          cache-dependency-path: apps/*/go.sum
      - name: Build, test, and docker push to ECR
        shell: bash
        env:
          REGISTRY_ID: ${{ secrets.AWS_ACCOUNT_ID_DEV }}
          IMAGE_TAG: ${{ steps.login-ecr.outputs.registry }}/uesio:464ae1f8cd61c1951215f9ad56eb95379dabaca8
        run: |
          # Fix this issue: https://github.com/Foundry376/Mailspring/issues/681
          # apt install dbus-x11
          # sudo apt install -y gnome-keyring
          mkdir tmpbin
          ls
          INSTALL_DIR=$PWD/tmpbin
          echo "install dir is $INSTALL_DIR"
          curl -silent --location https://github.com/Orange-OpenSource/hurl/releases/download/2.0.1/hurl-2.0.1-x86_64-linux.tar.gz -o hurl.tar.gz
          ls
          tar xvf -C $INSTALL_DIR hurl-2.0.1-x86_64-linux.tar.gz
          ls
          export PATH=$INSTALL_DIR/hurl-2.0.1:$PATH

          hurl --help

          # These exports need to run every time
          export GITSHA=$(echo ${FULL_SHA} | cut -c1-8)
          echo "GITSHA=`echo ${FULL_SHA} | cut -c1-8`" >> $GITHUB_ENV
          mkdir artifacts
          echo "$IMAGE_TAG" > ./artifacts/new_image.txt
          echo "$GITSHA" > ./artifacts/short_sha.txt

          # Skip build if image already exists
          image_exists=$(bash ./scripts/ecr-image-exists.sh $REGISTRY_ID uesio $FULL_SHA)

          if [[ "$image_exists" == "yes" ]]; then
              echo "Docker image already exists, skipping build and docker push"
              docker pull $IMAGE_TAG
              echo "APP_IMAGE=`echo ${IMAGE_TAG}`" >> $GITHUB_ENV
              npm i cypress typescript
              # npm i @orangeopensource/hurl
              exit 0
          else
              echo "Image does not exist, building and pushing"
          fi

          npm ci
          # npm run prettier-check
          # npm run affected:lint -- --base=origin/master --head=$GITHUB_SHA --parallel
          # npm run build-all
          # npm run affected:test -- --base=origin/master --head=$GITHUB_SHA --parallel
          #docker build -t $IMAGE_TAG -t $GITSHA -f ./apps/platform/Dockerfile --build-arg GITSHA .
          #echo "APP_IMAGE=`echo ${GITSHA}`" >> $GITHUB_ENV
          #docker push $IMAGE_TAG
      - name: Upload image id
        uses: actions/upload-artifact@v3
        with:
          name: image-artifacts
          path: |
            artifacts
      - name: Add studio subdomain to /etc/hosts
        run: |
          sudo echo "127.0.0.1 studio.uesio-dev.com" | sudo tee -a /etc/hosts
      - name: Run E2E and API Integration tests against app in Docker
        run: |
          # Run E2E and Integration tests
          # alias hurl=./node_modules/@orangeopensource/hurl/bin/hurl
          npm run tests-all
  update-dev-branch:
    name: Update Dev environment to latest image
    if: github.ref_name == 'master'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
        with:
          repository: thecloudmasters/uesio-infra
          token: ${{ secrets.GH_PAT }} # `GH_PAT` is a secret that contains your PAT
      - name: Download image id artifact
        uses: actions/download-artifact@v3
        with:
          name: image-artifacts
      - name: Load new image into env var
        run: |
          echo "NEW_IMAGE=$(cat ./new_image.txt)" >> $GITHUB_ENV
          echo "SHORT_SHA=$(cat ./short_sha.txt)" >> $GITHUB_ENV
      - name: Update Docker container image tag for dev
        env:
          appTaskDefPath: ./aws/dev/ecs/task_definitions/uesio_web.json
          workerTaskDefPath: ./aws/dev/ecs/task_definitions/uesio_worker.json
        run: |
          echo "Docker image SHA updated to $SHORT_SHA"
          jq --arg img "$NEW_IMAGE" '.containerDefinitions[0].image = $img' $appTaskDefPath > tmp1.json
          jq --arg img "$NEW_IMAGE" '.containerDefinitions[0].image = $img' $workerTaskDefPath > tmp2.json
          mv tmp1.json $appTaskDefPath
          mv tmp2.json $workerTaskDefPath
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add $appTaskDefPath $workerTaskDefPath
          git commit -m "ci: Auto-update dev image to $SHORT_SHA"
          git push
